NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=593992717772
NEXT_PUBLIC_WHATSAPP_DEFAULT_MESSAGE=Hola Psic. Nicolle, quisiera conocer si este espacio puede ser un buen fit para mi.
NEXT_PUBLIC_BOOKING_PROVIDER=external
NEXT_PUBLIC_ACUITY_EMBED_URL=
NEXT_PUBLIC_CALENDLY_URL=
NEXT_PUBLIC_HUBSPOT_MEETINGS_URL=
NEXT_PUBLIC_EXTERNAL_BOOKING_URL=
NEXT_PUBLIC_HUBSPOT_PORTAL_ID=
NEXT_PUBLIC_HUBSPOT_FORM_ID=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_ENABLE_CONSENT_MODE=true
NEXT_PUBLIC_PAYMENTS_PROVIDER=external
NEXT_PUBLIC_PAYPHONE_LINK=
NEXT_PUBLIC_KUSHKI_LINK=
NEXT_PUBLIC_DATAFAST_LINK=
NEXT_PUBLIC_BLOG_ENABLED=true
BOOKING_ADMIN_TOKEN=cambiar-esta-clave
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BOOKINGS_TABLE=therapy_bookings
